@model Order
@{
    ViewData["Title"] = "Order Page";
}

<div class="d-flex flex-column w-50">
    <h1 class="text-center">Order Detail</h1>

    <div class="d-flex flex-row justify-content-between w-75 h6 align-self-center">
            <label>Order Number: </label>
            <label>@Model.OrderNumber</label>
        </div>

    <div class="d-flex flex-row justify-content-between w-75 h6 align-self-center">
            <label>Sender's city: </label>
            <label>@Model.SenderCity</label>
        </div>

    <div class="d-flex flex-row justify-content-between w-75 h6 align-self-center">
            <label>Sender's address: </label>
            <label>@Model.SenderAddress</label>
        </div>

    <div class="d-flex flex-row justify-content-between w-75 h6 align-self-center">
            <label>Receiver's city</label>
            <label>@Model.ReceiverCity</label>
        </div>

    <div class="d-flex flex-row justify-content-between w-75 h6 align-self-center">
            <label>Receiver's address</label>
            <label>@Model.ReceiverAddress</label>
        </div>

    <div class="d-flex flex-row justify-content-between w-75 h6 align-self-center">
            <label>Weight(kg)</label>
            <label>@Model.Weight</label>
        </div>

    <div class="d-flex flex-row justify-content-between w-75 h6 align-self-center">
            <label>Receive date</label>
            <label>@Model.ReceiveDate</label>
        </div>

    


</div>